body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0.5px;
    color:rgb(67, 77, 86);
    margin-left: 25%;
    margin-right: 25%;
}
#rajesh{
    font-size: 40px;
    color:rgb(5, 118, 118);             /* Text color */
    margin-left: 38%;
}
.nav{
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 30px;
    margin-top: 3%;
    margin-bottom: 3%;
}

#active {
    background-color: floralwhite;
    border-radius: 1em;
}
.article{
    padding: 2px;
}
a{
    color:rgb(5, 118, 118);             /* Text color */
    text-decoration: none;   /* Removes underline */
    /*font-weight: bold;       /* Makes it bold */
}
a:hover{
    color:darkslategrey;             /* Text color */
}
img {
    width:50vw;
}
pre {
    /*width: 50vw;   /* 50% of viewport width */
    overflow: auto; /* add scroll if content overflows */
    background: #f4f4f4;
    padding: 10px;
    border-radius: 8px;
}
#project-title {
    font-size: 25px;
    color:darkslategrey;             /* Text color */

}
.project-container {
    width: 50vw;
}
.sub-topic {
    font-weight: bold;
}
.topics h2 {
    font-size: 25px;
    color:darkslategrey;
}